{% extends "header_base.html" %}

{% load static %}


{% block content %}

    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>All departments</span>
                        </div>
                        <ul>
                            <li><a href="/departments/exams">Competitive Exams</a></li>
                            <li><a href="/departments/academics">Academics</a></li>
                            <li><a href="/departments/novels">Novels</a></li>
                            <li><a href="/departments/stationery">Stationery</a></li>
                            <li><a href="/departments/children">Children</a></li>
                            <li><a href="/departments/used">Used Books</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form action="{% url 'search_books' %}" method="POST">
                                <input type="text" name="q" placeholder="What do you feel like reading?">
                                <button type="submit" class="site-btn">SEARCH</button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>+91 0000 665243</h5>
                                <span>support 24/7 time</span>
                            </div>
                        </div>
                    </div>
                    <div class="hero__item set-bg" data-setbg="{% static "img/hero/banner.jpg" %}">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Categories Section Begin -->
    <section class="categories">
        <div class="container">
            <div class="row">
                <div class="categories__slider owl-carousel">
                    <div class="col-lg-3">
                        <a href="/departments/children">
                            <div class="categories__item set-bg" data-setbg="{% static "img/categories/cat-1.jpg" %}">
                                <h5>Children</h5>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3">
                        <a href="/departments/exams">
                            <div class="categories__item set-bg" data-setbg="{% static "img/categories/cat-2.jpg" %}">
                                <h5>Competitive Exams</h5></h5>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3">
                        <a href="/departments/novels">
                            <div class="categories__item set-bg" data-setbg="{% static "img/categories/cat-4.jpg" %}">
                                <h5>Novels</h5>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3">
                        <a href="/departments/academics">
                            <div class="categories__item set-bg" data-setbg="{% static "img/categories/cat-5.jpg" %}">
                                <h5>Academics</h5>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3">
                        <a href="/departments/used">
                            <div class="categories__item set-bg"
                                 data-setbg="{% static "img/categories/used_books.jpeg" %}">
                                <h5>Used Books</h5>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3">
                        <a href="/departments/stationery">
                            <div class="categories__item set-bg"
                                 data-setbg="{% static "img/categories/stationary.png" %}">
                                <h5>Stationery</h5>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Categories Section End -->

    <!-- Featured Section Begin -->
    <section class="featured spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Featured Products</h2>
                    </div>
                </div>
            </div>
            <div class="row featured__filter">
                {% for feature in featured %}
                    <div class="col-lg-3 col-md-4 col-sm-6 mix {{ feature.category }}">
                        <div class="featured__item">
                            <a href="{% url 'shop-details' feature.id %}">
                                <div class="featured__item__pic set-bg" data-setbg="{{ feature.image.url }}">
                                </div>
                                <div class="featured__item__text">
                                    <h6><a href="#">{{ feature.title }}</a></h6>
                                    <h5>₹{{ feature.price }}</h5>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Featured Section End -->

    <!-- Featured Section End -->

    <!-- Banner Begin -->
    <div class="banner">
        <div class="col-lg-12 col-md-12 col-sm-12" style="justify-content: center; display: flex;">
            <div class="banner__pic">
                <img src="{% static "/img/banner/banner-2.jpg" %}" alt="">
            </div>
        </div>
    </div>
    <!-- Banner End -->

{% endblock %}
