{% extends "base.html" %}
{% load static %}

{% block content %}

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="{% static "img/breadcrumb.jpg" %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Explore</h2>
                        <div class="breadcrumb__option">
                            <a href="/">Home</a>
                            <span>Shop</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">

                <!-- HOT OFFERS start -->
                <!-- HOT OFFERS start -->
                <!-- HOT OFFERS start -->
                <div class="col-lg-12 col-md-7">
                    <div class="product__discount">
                        <div class="section-title product__discount__title">
                            <h2>Hot Offers</h2>
                        </div>
                        <div class="row">
                            <div class="product__discount__slider owl-carousel">
                                {% for book in offer_books %}
                                    <div class="col-lg-4">
                                        <div class="product spad">
                                            <div class="container">
                                                <a href="{% url 'shop-details' book.id %}">
                                                    <div class="product__discount__item__pic set-bg"
                                                         data-setbg="{{ book.image.url }}">
                                                        <div class="product__discount__percent">-20%</div>
                                                    </div>
                                                </a>
                                                <div class="product__discount__item__text">
                                                    <h5>{{ book.title }}</h5>
                                                    <div class="product__item__price">₹{{ book.price }}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- HOT OFFERS end -->
                <!-- HOT OFFERS end -->
                <!-- HOT OFFERS end -->

                <!-- Used Books start -->
                <!-- Used Books start -->
                <!-- Used Books start -->
                <div class="col-lg-12 col-md-7">
                    <div class="product__discount">
                        <div class="section-title product__discount__title">
                            <h2>Used Books</h2>
                        </div>
                        <div class="row">
                            <div class="product__discount__slider owl-carousel">
                                {% for book in used_books %}
                                    <div class="col-lg-4">
                                        <div class="product spad">
                                            <div class="container">
                                                <a href="{% url 'shop-details' book.id %}">
                                                    <div class="product__discount__item__pic set-bg"
                                                         data-setbg="{{ book.image.url }}">
                                                        <div class="product__discount__percent">-20%</div>
                                                    </div>
                                                </a>
                                                <div class="product__discount__item__text">
                                                    <h5>{{ book.title }}</h5>
                                                    <div class="product__item__price">₹{{ book.price }}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
                <!-- Used Books end -->
                <!-- Used Books end -->
                <!-- Used Books end -->

                <div class="filter__item">
                    <div class="row">
                        <div class="section-title product__discount__title">
                            <h2>All Products</h2>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="filter__found">
                                <h6><span>{{ count }}</span> Products found</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for book in books %}
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <a href="{% url 'shop-details' book.id %}">
                                    <div class="product__item__pic set-bg"
                                         data-setbg="{{ book.image.url }}">
                                    </div>
                                </a>
                                <div class="product__item__text">
                                    <h6><a href="#">{{ book.title }}</a></h6>
                                    <h5>{{ book.price }}</h5>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- Product Section End -->

{% endblock %}