{% extends "base.html" %}
{% load static %}

{% block content %}

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="{% static "img/breadcrumb.jpg" %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Shopping Cart</h2>
                        <div class="breadcrumb__option">
                            <a href="/">Home</a>
                            <span>Shop</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__pic">
                        <div class="product__details__pic__item">
                            <img class="product__details__pic__item--large" src="{{ obj.image.url }}" alt="">
                        </div>
                        <div class="product__details__pic__slider owl-carousel">
                            <img data-imgbigurl="img/product/details/product-details-2.jpg" src="{{ obj.preview_1.url }}" alt="">
                            <img data-imgbigurl="img/product/details/product-details-3.jpg" src="{{ obj.preview_2.url }}" alt="">
                            <img data-imgbigurl="img/product/details/product-details-3.jpg" src="{{ obj.preview_3.url }}" alt="">
                            <img data-imgbigurl="img/product/details/product-details-3.jpg" src="{{ obj.image.url }}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__text">
                        <h3>{{ obj.title }}</h3>
                        <div class="product__details__price">₹{{ obj.price }}</div>
                        <h6>Author: {{ obj.author }}</h6>
                        <h6>Department: {{ obj.department }}</h6> <br>
                        <p>{{ obj.description }}</p>
                        <form action="{% url 'add_to_cart' obj.id %}" method="POST">
                            {% csrf_token %}
                            <button class="primary-btn" type="submit">Add to Cart</button>
                        </form>
                        <ul>
                            <li><b>Availability</b> <span>In Stock</span></li>
                            <li><b>Shipping</b> <span>Free shipping on orders above ₹499</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Details Section End -->

{% endblock %}
